@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

//Variables
$gb-font: 3rem;

//MEDIA VARIABLES
$tablet: 35em;
$desktop: 62.5em;

//Overall settings
html {
  box-sizing: border-box;
  font-size: 50%;

  @media (min-width: $tablet) {
    font-size: 56.25%;
  }

  @media (min-width: $desktop) {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: $gb-font;
  font-family: "Lato", sans-serif;
}
