@import "../../../sass//mixins.scss";

.hamburger-icon {
  width: 3.5rem;
  height: 0.5rem;
  background-color: white;
  position: relative;

  &::before {
    @include hamburgerIconStyles;
    top: -1rem;
  }

  &::after {
    @include hamburgerIconStyles;
    top: 1rem;
  }
}
