@import "../../sass/base.scss";

.main-content {
  width: 95%;
  display: grid;
  justify-items: center;
  padding-bottom: 1.5rem;
  grid-template-rows: auto 5fr 1fr;
  height: 100vh;

  @media (min-width: $tablet) {
    width: 80%;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr [main-start] 4fr [main-end] 1fr;
  }

  &__menu {
    position: absolute;
    left: 3rem;
    top: 3rem;

    &--hamburger {
      display: block;

      @media (min-width: $desktop) {
        display: none;
      }
    }

    &--navlist {
      display: none;

      @media (min-width: $desktop) {
        display: block;
      }
    }
  }

  &__month {
    margin: 1.5rem;
    align-self: flex-end;
    margin-top: 8rem;
    width: 100%;

    @media (min-width: $desktop) {
      grid-column: main-start/main-end;
    }
  }
}
