@import "../../../sass/base.scss";

.nav-list__item {
  font-size: 2.2rem;

  margin: 1.5rem;

  @media (min-width: $desktop) {
    margin: 0 1.5rem;
  }

  a {
    text-decoration: none;
    color: #006eff;

    @media (min-width: $desktop) {
      color: white;
    }
  }
}
