.container {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  &__title {
    background-color: #006eff;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
