@import "../sass/base.scss";

.app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/money.jpg");
  background-blend-mode: luminosity;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; //to remove
}
