.auth-form {
  width: 85%;
  // padding: 2rem;
  color: black;

  &__change-method {
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
    transition: color 0.5s;

    &:hover {
      cursor: pointer;
      color: darken(#006eff, 20%);
    }
  }

  &__error-message {
    color: red;
    font-size: 2.2rem;
    margin: 1.5rem 0;
    text-align: center;
  }

  &--invisible {
    opacity: 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
