.auth-form {
  width: 100%;
  padding: 1rem;
  color: black;

  &__change-method {
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
    transition: color 0.5s;

    &:hover {
      cursor: pointer;
      color: darken(lightblue, 20%);
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
